body {
  text-align: center;
  margin: 0 auto;
  background: black;
  color: white;
  font-family: sans-serif;
}

#map {
  margin: 2em auto;
  width: calc(80vw - 4em);
  height: calc(80vh - 20em);
  border-radius: 2em;
}
